hr {
    height: 2px;
    background-color: black;
}
aside {
    padding: 10px;
    width: 200px;
    float: right;
}
.AsideButtons{
    font-size: large;
    background: #f0f0f0;
    border: 0;
}
.AsideButtons:hover{
    color: red;
}
aside p {
    font-size: large;
    padding: 20px;
    margin: 10px 0;
    background: #f0f0f0;
}
article {
    margin-right: 240px;
    display: block;
}
.FindByTag{
    text-align: right;
    margin-right: 10%;
}

#resources img{
    margin: 0 30%
}
#resources h2{
    margin: 0 21% 0 30%;
}
#resources p{
    margin: 0 21% 3% 30%;
}

#search-field{
    width: 15%;
}
#load-btn{
    padding: 0 10px 0 10px;
    margin-left: 40%;
}
